@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.outer-area{
    background: #C5E4E7;
    min-height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.main-area{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-area .logo{
    width: 4rem;
    margin-bottom: 3rem;
}
.card{
    background: #ffffff;
    width: 40rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}
.card .each-side{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.each-side.input,.each-side.output .top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
}
/* Input Side CSs  */
.label-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.label-box p.error{
    font-size: 0.7rem;
    color: #f44336;
    font-weight: 700;
}
.input label{
    font-size: 0.8rem;
    color: #818F90;
    font-weight: 700;
    margin-bottom: 0.4rem;
    display: block;
}
.input-box{
    position: relative;
}
.input-box .input-icon{
    position: absolute;
    top: 11px;
    left: 8px;
}
.each-input input{
    width: 100%;
    padding: 0.1rem 0.4rem;
    background: #e6f5f6;
    text-align: right;
    color: #a4bfc1;
    border: 2px solid #ffffff00;
    font-size: 1.4rem;
    border-radius: 2px;
    outline: none;
}
.each-input input:focus{
    border: 2px solid #64B1A7;
}
.each-input input.error{
    border: 2px solid #f44336;
}
.each-input input::-webkit-input-placeholder{
    color: #a4bfc1;
}
.each-input input::-moz-placeholder{
    color: #a4bfc1;
}
.each-input input:-ms-input-placeholder{
    color: #a4bfc1;
}
.each-input input::-ms-input-placeholder{
    color: #a4bfc1;
}
.each-input input::placeholder{
    color: #a4bfc1;
}
/* Tips Box css  */
.tips-box{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.6rem 1fr 0.6rem 1fr;
    grid-template-columns: repeat(3,1fr);
    gap: 0.6rem;
}
.each-tip{
    background: #014749;
    color: #F0FFFC;
    text-align: center;
    padding: 0.4rem;
    font-weight: 700;
    border-radius: 2px;
    cursor: pointer;
}
.each-tip.active{
    background: #9FE8DF;
    color: #1d1d1d;
}
.each-tip.custom-tip{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background:#e6f5f6;
    padding: 0;
}
.custom-tip input{
    font-size: 1rem;
}
.each-tip button{
    color: #5A7773;
    background: none;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
}
.custom-tip #custom-tip-input{
    display: none;
}

/* Output  */
.card .output{
    background: #00474B;
    border-radius: 1rem;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.output .value-box p{
    font-size: 2rem;
    color: #22C4AD;
    font-weight: 700;
}
.output .each-output{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.text-box .main{
    font-size: 0.8rem;
    color: #f2ffff;
}
.text-box .sec{
    font-size: 0.7rem;
    color: #abc9ca;
}
.output .reset{
    width: 100%;
    padding: 0.4rem;
    background: #0D686D;
    border: none;
    text-transform: uppercase;
    color: #00474B;
    border-radius: 2px;
    font-weight: 700;
}
.output .reset.active{
    background:#9FE8DF;
}
.attribution{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 18rem;
    line-height: 1.5;
    color: #00474b;
}
.attribution a{
    text-decoration: none;
    color: #22c4ad;
}
/* Media Query  */
@media only screen and (max-width: 700px){
    .card{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 20rem;
    }
    .card .output{
        gap: 2rem;
    }
    .attribution{
        position: initial;
        text-align: center;
        width: 100%;
        background: #c5e4e7;
    }
}
@media only screen and (max-width: 500px){
    .main-area{
        width: 100%;
        padding-top: 4rem;
    }
    .tips-box {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2,1fr);
    }
    .outer-area{
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .card{
        width: 100%;
        padding-bottom: 3rem;
        border-radius: 1rem 1rem 0 0;
    }
    .attribution{
        background:#ffffff;
    }
}